<!doctype html> <html>
    <head>
        <meta charset="utf-8" />
        <title>nBe Productions - Admin</title>
        <link rel="icon" type="image/png" href="images/nbe_favicon.png">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/parts/errorbox.css">
		<link rel="icon" type="image/png" href="images/nbe_favicon.png">
    </head>
    <body>
        <!--<p>Hemsida för nBe Productions personal.</p>-->

        <div class="loginBox">
            <img src="images/nbe_logo.png" id="logo_img">
            <h2>productions</h2>

            <form id="login_form" action="/login" method="post">
                <input type="email" name="email" id="email_field" placeholder="Email..">
                <input type="password" name="password" id="password_field" placeholder="Lösenord..">
                <input type="button" value="LOGGA IN" id= "login_button" onclick="login()">
            </form>
        </div>

        <%= erb :"parts/errormsg"%>

    </body>

    <!--Scripts-->
    <script src="js/index.js"></script>
    <script src="js/ErrorMsg.js"></script>
    <script src="js/AjaxCall.js"></script>

</html>