<div id="area_editor" class="area">
    <div class="area_tabs">
        <div class="area_tabs_title">
            <h2>Editor</h2>
        </div>

        <div class="area_tab_item_editor active_button" onclick="openPage(event, 'area_omoss', 'area_tab_item_editor', 'area_content_editor')">
            <p>Om Oss</p>
        </div>

        <div class="area_tab_item_editor" onclick="openPage(event, 'area_historia', 'area_tab_item_editor', 'area_content_editor')">
            <p>Historia</p>
        </div>

        <div class="area_tab_item_editor" onclick="openPage(event, 'area_projekt', 'area_tab_item_editor', 'area_content_editor')">
            <p>Projekt</p>
        </div>

        <div class="area_tab_item_editor" onclick="openPage(event, 'area_kontakt', 'area_tab_item_editor', 'area_content_editor')">
            <p>Kontakt</p>
        </div>
    </div>

    <div class="area_content">
        <div id="area_omoss" class="area_content_editor">
            <h1>Om Oss</h1>
            <p>H채r kan du redigera sidan 'Om Oss'</p>
            <div class="editor_action_bar">
                <input type="button" value="SPARA" onclick="saveSiteInfo('about', 'ta_about')">
                <input type="button" value="UPPDATERA" onclick="updateTextEditor('about', 'ta_about')">
            </div>

            <textarea name="textarea" id="ta_about" rows="20"><%=get_site_text("about")%></textarea>
        </div>

        <div id="area_historia" class="area_content_editor">
            <h1>Historia</h1>
            <p>H채r kan du redigera sidan 'Historia'</p>
            <div class="editor_action_bar">
                <input type="button" value="SPARA" onclick="saveSiteInfo('history', 'ta_history')">
                <input type="button" value="UPPDATERA" onclick="updateTextEditor('history', 'ta_history')">
            </div>

            <textarea name="textarea" id="ta_history" rows="20"><%=get_site_text("history")%></textarea>
        </div>

        <div id="area_projekt" class="area_content_editor">
            <h1>Projekt</h1>
            <p>H채r kan du redigera sidan 'Projekt'</p>
            <div class="editor_action_bar">
                <input type="button" value="SPARA" onclick="saveSiteInfo('project', 'ta_project')">
                <input type="button" value="UPPDATERA" onclick="updateTextEditor('project', 'ta_project')">
            </div>

            <textarea name="textarea" id="ta_project" rows="20"><%=get_site_text("project")%></textarea>
        </div>

        <div id="area_kontakt" class="area_content_editor">
            <h1>Kontakt</h1>
            <p>H채r kan du redigera sidan 'Kontakt'</p>
            <div class="editor_action_bar">
                <input type="button" value="SPARA" onclick="saveSiteInfo('contact', 'ta_contact')">
                <input type="button" value="UPPDATERA" onclick="updateTextEditor('contact', 'ta_contact')">
            </div>

            <textarea name="textarea" id="ta_contact" rows="20"><%=get_site_text("contact")%></textarea>
        </div>
    </div>
</div>