<div id="area_files" class="area">
    <div class="area_tabs">
        <div class="area_tabs_title">
            <h2>Files</h2>
        </div>

        <div class="area_tab_item_files active_button" onclick="openPage(event, 'area_arbetsbeskrivning', 'area_tab_item_files', 'area_content_files')">
            <img src="icons/user_db_icon_white.svg">
            <p>Arbets<wbr>beskrivning</p>
        </div>

        <div class="area_tab_item_files" onclick="openPage(event, 'area_stab', 'area_tab_item_files', 'area_content_files')">
            <img src="icons/stab_icon_white.svg">
            <p>Stab</p>
        </div>

        <!--<div class="area_tab_item_files" onclick="openPage(event, 'area_dokument', 'area_tab_item_files', 'area_content_files')">
            <img src="icons/website_icon_white.svg">
            <p>Dokument</p>
        </div>

        <div class="area_tab_item_files" onclick="openPage(event, 'area_bilder', 'area_tab_item_files', 'area_content_files')">
            <img src="icons/website_icon_white.svg">
            <p>Bilder</p>
        </div>

        <div class="area_tab_item_files" onclick="openPage(event, 'area_videos', 'area_tab_item_files', 'area_content_files')">
            <img src="icons/website_icon_white.svg">
            <p>Videos</p>
        </div>-->
    </div>

    <div class="area_content">
        <div id="area_arbetsbeskrivning" class="area_content_files">
            <h2>Arbetsbeskrivning</h2>
            <h3>Regissör</h3>
            <ul>
                <li>Tar hand om det kreativa.</li>
                <li>Ser till att filmen håller sig till handlingen.</li>
                <li>Hjälper till att skriva manus.</li>
            </ul>
            <h3>Producent</h3>
            <ul>
                <li>Ser till att filmen blir av.</li>
                <li>Hjälper till med logistiken. (T.ex tider, platser)</li>
            </ul>
            <h3>Ljudansvarig</h3>
            <ul>
                <li>Tar med all ljudutrustning till inspleningen.</li>
                <li>Spelar oftast in ljudet också.</li>
            </ul>
            <h3>Kameraman</h3>
            <ul>
                <li>Sköter kameran under inspelningen.</li>
                <li>Jobbar mycket med regissören.</li>
            </ul>
            <h3>Webbutvecklare</h3>
            <ul>
                <li>Jobbar med hemsidan.</li>
                <li>Ser till att all information som står på hemsidan är korrekt.</li>
            </ul>
            <h3>Musikansvarig</h3>
            <ul>
                <li>Gör all musik till filmerna.</li>
            </ul>
        </div>

        <div id="area_stab" class="area_content_files">
            <h2>Stab</h2>
            <table id="stab_table">
                <tBody>
                <tr>
                    <td class="stab_head_cell"><p><b>Namn</b></p></td>
                    <td class="stab_head_cell"><p><b>Telefon nr.</b></p></td>
                    <td class="stab_head_cell"><p><b>Mail</b></p></td>
                    <td class="stab_head_cell"><p><b>Arbetsuppgift</b></p></td>
                </tr>
                </tBody>
                <tr>
                    <td class="stab_cell"><p>Erik Landmark</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>erik.landmark@itggot.se</p></td>
                    <td class="stab_cell"><p>Redigering</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Henrik Thölin</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>henrik.tholin@itggot.se</p></td>
                    <td class="stab_cell"><p>Producent</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Hugo Drakeskär</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>hugo.drakeskar@itggot.se</p></td>
                    <td class="stab_cell"><p>Regissör, Skådis</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Rikard Sjöstedt</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>rikard.sjostedt@itggot.se</p></td>
                    <td class="stab_cell"><p>Kameraman, Hemsida utvecklare</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Elias Carlsson</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>elias.carlson@itggot.se</p></td>
                    <td class="stab_cell"><p>Grafisk Designer</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Filip Gustavsson</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>filip.gustavsson@itggot.se</p></td>
                    <td class="stab_cell"><p>Möjlig kamerautlånare</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Samuel Hedén</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>samuel.heden@itggot.se</p></td>
                    <td class="stab_cell"><p>Musik</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Lukas Lönnbro</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>lukas.lonnbro@itggot.se</p></td>
                    <td class="stab_cell"><p>Musik, Assistent</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Gösta Larsson</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>gosta.larsson@itggot.se</p></td>
                    <td class="stab_cell"><p>Manus? / Skådis</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Petter Blomkvist</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>petter.blomkvist@itggot.se</p></td>
                    <td class="stab_cell"><p>Hemsida utvecklare</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Melvin Sörum</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>melvin.sorum@itggot.se</p></td>
                    <td class="stab_cell"><p>Ljudansvarig</p></td>
                </tr>
                <tr>
                    <td class="stab_cell"><p>Lukas Gartman</p></td>
                    <td class="stab_cell"><p>XXXX-XXXXXXXX</p></td>
                    <td class="stab_cell"><p>lukas.gartman@itggot.se</p></td>
                    <td class="stab_cell"><p>Hemsida utvecklare</p></td>
                </tr>
            </table>
        </div>

        <!--<div id="area_dokument" class="area_content_files">

        </div>

        <div id="area_bilder" class="area_content_files">

        </div>

        <div id="area_videos" class="area_content_files">

        </div>-->
    </div>
</div>