<div id="area_statistik" class="area">
    <div class="area_tabs">
        <div class="area_tabs_title">
            <h2>Statistik</h2>
        </div>

        <div class="area_tab_item_statistik active_button" onclick="openPage(event, 'area_youtube', 'area_tab_item_statistik', 'area_content_statistik')">
            <img src="icons/youtube_icon_white.svg">
            <p>Youtube</p>
        </div>

        <div class="area_tab_item_statistik" onclick="openPage(event, 'area_hemsida', 'area_tab_item_statistik', 'area_content_statistik')">
            <img src="icons/website_icon_white.svg">
            <p>Hemsidan</p>
        </div>
    </div>

    <div class="area_content">
        <div id="area_youtube" class="area_content_statistik">
            <h2 class="area_content_title">Youtube</h2>
            <h3>Graf över 'Sessions'</h3>
            <img src="images/sessions.png">
            <h3>Graf över 'Users'</h3>
            <img src="images/users.PNG">
        </div>
        <div id="area_hemsida" class="area_content_statistik">
            <h2 class="area_content_title">nbeproductions.com - Hemsidan</h2>
            <h3>Graf över 'Sessions'</h3>
            <img src="images/sessions.png">
            <h3>Graf över 'Users'</h3>
            <img src="images/users.PNG">
        </div>
    </div>

</div>