<div id="area_user" class="area">
    <h2>Ändra Dina Uppgifter</h2>

    <form>
        <p>Lösenord:</p><br>
        <input type="password" placeholder="Nytt lösenord.."/> <br>
        <input type="password" placeholder="Bekräfta nytt lösenord.."/><br>
        <input type="button" value="Spara" onclick="msg('Ditt lösenord har ändrats!')"/>
    </form>
</div>