<div id="area_user" class="area">
    <h2>Ändra Dina Uppgifter</h2>

    <form>
        <p>Skriv in nytt lösenord:</p><br>
        <input type="password" name="current_password" placeholder="Befintligt lösenord"/> <br>
        <input type="password" name="new_password_field_1" placeholder="Nytt lösenord"/> <br>
        <input type="password" name="new_password_field_2" placeholder="Bekräfta nytt lösenord"/><br>
        <input type="button" value="SPARA" onclick="msg('Ditt lösenord har ändrats!')"/>
    </form>

    <div class="divider"></div>

    <% if session[:level] == 2 %>
        <h2 class="contentTitle">Användarhanteraren</h2>

        <input type="button" id="add_new_user_button" value="SKAPA NY ANVÄNDARE" onclick="openAddUserForm()">

        <div id="form_dimmer"></div>

        <div id="add_user_form">
            <h2>Lägg till ett nytt konto.</h2>
            <input type="email" name="email" id="add_user_email_field" placeholder="Email">
            <input type="password" name="password" id="add_user_pass_field" placeholder="Lösenord">
            <div>
                <input type="button" value="AVBRYT" id="add_user_button" class="add_user_button" onclick="closeAddUserForm()">
                <input type="button" value="LÄGG TILL" id="add_user_button" class="add_user_button" onclick="addUser('<%=session[:user]%>')">
            </div>
        </div>

        <div id="change_password_form">
            <h2 id="change_password_form_title"></h2>
            <input type="password" name="field_1" id="change_password_field_1" placeholder="Nytt lösenord">
            <input type="password" name="field_2" id="change_password_field_2" placeholder="Bekräfta nytt lösenord">
            <div>
                <input type="button" value="AVBRYT" onclick="closePasswordBox()">
                <input type="button" value="ÄNDRA LÖSENORD" onclick="">
            </div>
        </div>

        <table id="user_table"></table>
        <script>
            printAllUsers(<%= get_user_names%>, <%= get_user_levels%>, "<%=session[:user]%>")
        </script>
    <% end %>
</div>