<div id="error_dimmer">
    <div id="error_box"><p id="error_text">Error</p>
        <input type="button" id="error_button" value="OK" onclick="document.getElementById('error_dimmer').style.display = 'none'">
    </div>
</div>
